.body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  img{
    max-width: 100%;
  }
  .container{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: stretch;
  }
  .containerTop{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
  .containerBottom{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
  }
  .imge{
    width: 650px;
    height: 600px;
    background: url(https://2.downloader.disk.yandex.ru/preview/a65069d9398089bb69af4ef1f7b84924fe15caa6118c5c193fa79f3106b6169f/inf/iBUJxXo7viZpLl5UkE7vPSeZ5X7zZf9YIhOyL5MMELxteWa1LVaPKNkbqMh8bCjCDEvdhEkayXA4gujq_n9_ng%3D%3D?uid=483818917&filename=52.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=483818917&tknv=v2&size=1841x984);  
    background-size: 100%;
    background-position: right top;
  }
  .img1{
    width: 100%;
    height: auto;
  }
  .menu {
    margin-top: 18px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name{
   display:block;
    font-size: 16px;
    font-weight: 800;
  }
  .description{
    margin-left:9px;
  }
  .menu-logo{
    display: flex;
    align-items: center;
  }
  .avatar {
    width: 57px;
    height: 57px;
    background: url('https://pp.userapi.com/c10177/u56544989/98259989/x_52e85768.jpg');
    background-size:100%;
    border-radius: 50%;
  }
  .menu-list{
    display:flex;
    align-items: center;
  }
  .menu-list a{
    text-decoration: none;
    color: #2b2a2c;
    text-transform: uppercase;
    font-weight: 800;
    margin-right: 34px;
  }
  .menu-list a:hover{
    color: red;
    cursor: pointer;
  }
  .menu-button{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #2b2a2c;
    padding: 13px 22px;
  }
  .hero{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-top:50px;
    padding-bottom: 50px;
    background-size: contain;
  }
  .hero-info{
    width: 100%;
    height: 600px;
  }
  .hero-subtitle{
    font-size:32px;
  }
  .hero-title{
    font-size:45px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .hero-description{
    font-size:20px;
    color:#6a696b;
  }
  .hero-social{
    margin-top:30px;
  }
  .hero-social i:hover{
    color: red;
    cursor: pointer;
  }
  .social{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 18px;
    color: #fff;
    text-align: center;
    line-height: 70px;
  }
  .behance-bg{
    background-color: #1869ff;
  }
  .facebook-bg{
    background-color: #3a5898;
  }
  .instagram-bg{
    background-color: #13578a;
  }
  .vk-bg{
    background-color: #56acef;
  }
  .hero-buttons{
    margin-top: 40px;
  }
  .button{
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    background-color: #2b2a2c;
    border-radius: 50px;
    padding: 20px 34px;
    display: inline-block;
  }
  .buttion-primary{
    color:#fff;
    margin-right: 17px;
    margin-bottom: 10px;
  }
  .buttion-o{
    background-color: transparent;
    color: #6a696b;
    border: 1px solid #6a696b;
  }
  .projects{
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding: 120px 0;
  }
  .project-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  a{
    text-decoration: none;
  }
  .project-card{
    min-height: 430px;
    width: 410px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(112, 92, 92, 0.883);
    margin-bottom: 20px;
  }
  .project-card__image{
    height: 370px;
  }
  .wedding{
    background: url('https://pp.userapi.com/c855236/v855236871/f679/PKiwHQspblc.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .birthday{
    background: url('https://pp.userapi.com/c849428/v849428746/164d37/CLIWpJ8iD24.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .portret{
    background: url('https://pp.userapi.com/c855016/v855016939/11283/FszOjzFvwzY.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .reportage{
    background: url('https://pp.userapi.com/c849428/v849428746/164e60/1v9_raFWHhg.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .studio{
    background: url('https://pp.userapi.com/c855016/v855016939/11319/QM3bYiD1slc.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .subject{
    background: url('https://pp.userapi.com/c845523/v845523218/1f776/X8AiJViVf4s.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mens{
    background: url('https://pp.userapi.com/c855016/v855016939/112ab/RMLUMJjIMmU.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .corp{
    background: url('https://pp.userapi.com/c855016/v855016939/1132d/UachfZoUXvM.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .show{
    background: url('https://pp.userapi.com/c845217/v845217454/1ec16b/Ei3AbWSTlq8.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .project-card_info{
    display: flex;
    justify-content: center;
  }
  .project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
    font-size: 20px;
  }
  .footer{
    background-color: #2b2a2c;
    padding: 20px 0;
    color: #8d8d8e;
  }
  .footer a{
    color: #8d8d8e;
    text-decoration: none;
  }
  .footer-info{
    display: flex;
    justify-content: space-between;
  }
  .footer-text{
    display: flex;
    align-items: center;
  }
  .copyright{
    padding-right: 16px;
    margin-right: 30px;
    border-right: 1px solid #413f41;
    font-size: 14px;
  }
  .footer-social__link{
    font-size: 20px;
    margin-right: 13px;
    text-decoration: none;
  }
  .footer-social__link i:hover{
    color: red;
    cursor: pointer;
  }
  .footer-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-menu a{
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
  }
  .footer-button{
    font-size: 14px;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #8d8d8e;
    padding: 8px 22px;
  }
  @media (max-width: 1200px){
    .container {
      width: 700px;
    }
    .containerTop {
      width: 700px;
    }
    .containerBottom {
      width: 700px;
    }

    .hero {
      width: 700px;
    }
    .projects{
      width: 965px; 
    }
  }
  @media (max-width: 990px){
    .container {
      width: 90%;
    }
    .containerTop {
      width: 90%;
    }
    .containerBottom {
      width: 90%;
    }
    .hero {
      width: 90%;
    } 
    .imge {
      width: 0%;
    }
    .projects{
      width: 90%; 
    }
  }
  @media (max-width: 240px){
    .description_small{
      font-size: 10px;
    }
    .menu-list {
      display: none; /*для мобильной версии, убираем меню*/
    }
    .hero{
      width: 50%;
    }
    .imge {
      display: none;
    }
    .container {
      width: 50%;
    }
    .containerTop {
      width: 50%;
    }
    .containerBottom {
      width: 50%;
    }
    .projects{
      width: 50%;
    }
  }
